bioconda::blast=2.12.0
bioconda::pysam
conda-forge::python=3.8.3
bioconda::krona=2.7.1
bioconda::rseqc=3.0.1 
conda-forge::r-base>=3.5
bioconda::bowtie2=2.4.4 
conda-forge::pigz=2.6
bioconda::bcftools=1.15.1
bioconda::artic=1.2.1
bioconda::pangolin=4.1.1
bioconda::trim-galore=0.6.7
bioconda::minimap2=2.21
bioconda::seqtk=1.3
bioconda::bwa=0.7.17
bioconda::trimmomatic=0.39
bioconda::nanoplot=1.41.0
bioconda::bedtools=2.31.1
bioconda::krakentools=1.2
bioconda::porechop=0.2.4
bioconda::flye=2.9
bioconda::kraken2=2.1.2 
bioconda::fastqc=0.11.9
bioconda::samtools=1.18
bioconda::multiqc=1.11
bioconda::ncbi-genome-download=0.3.1
bioconda::fastp=0.23.4
